.App {
    text-align: center;
}

.HeaderText {
    color: #54c8ff;
    margin: 0px;
    padding-bottom: 4px;
    padding-right: 255px;
}

.Navbar {
    padding: 10px 20px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #383838;
}

.NavbarButton {
    margin: 0px 8px !important;
}

.App-logo {
    height: 100%;
}

.App-header {
    background-image: url("resources/carbonFiber.png");
    background-repeat: repeat;
    height: 150px;
}

.App-title {
    font-size: 1.5em;
    text-align: center;
    color: white;
}

.App-intro {
    font-size: large;
    color: white;
}

.BodyContent {
    background-image: url("resources/dark-matter.jpg");
    width: 100%;
}