.App {
  text-align: center;
}

.Navbar {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #383838;
}

.NavbarButton {
  margin: 0px 8px !important;
}

.App-logo {
  height: 100%;
}

.App-header {
  background-image: url("resources/carbonFiber.png");
  background-repeat: repeat;
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}